body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body p {
    color: #94999a;
    font-size: small;
}

a {
    text-decoration: none;
    color: #e84c3d;
}

header {
    background-color: black;
    border-bottom: 1px solid #e84c3d;
    color: whitesmoke;

    height: 50px;
}

header p {
    margin-top: 0;
    padding-left: 80px;
    padding-top: 15px;
    float: left;
    color: whitesmoke;

}

nav .nav {
    border-bottom: 5px solid coral;
}

nav ul {
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;
    list-style-type: none;
    text-align: right;
    margin-right: 12%;

}

ul li {
    display: inline-block;
    margin-right: 1%;
    height: 50px;
    width: 65px;
    line-height: 50px;
    text-align: center;

}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav li:hover {
    background: #e84c3d;

}

.block {
    background-image: url("../images/bg.jpg");
    margin-top: 0;
    background-size: contain;
    height: 280px;
    color: whitesmoke;

}

.redcircle {
    color: whitesmoke;
    padding-top: 140px;
    padding-left: 80px;
    text-transform: uppercase;
}

.fullcircle button {
    height: 40px;
    width: 20px;
    display: inline-block;
    border: none;
    background: #e84c3d;
    margin-bottom: 5px;
}

.halfcircle1 {
    border-radius: 40px 0px 0px 40px;
}

.halfcircle2 {
    border-radius: 0px 40px 40px 0px;
    margin-left: -3px;
}

.redcircle hr {
    margin: 0px 0px 5px 3px;
    border: none;
    height: 1px;

}

.block p {
    padding-left: 80px;
    font-size: small;
    color: #e84c3d;
}



.lowblock h2 {
    text-transform: uppercase;
    color: #3b4041;
}

.lowblock p {
    font-size: small;
    margin-top: 10px;
}
.lowblock {
    background-color: #e7e7e7;
    height: 150px;
}

.lowblock1 {
    float: left;
    width: 25%;
    margin-top: 30px;
    background-image: url("../images/rocket.gif");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 4% 0%;
    padding-left: 50px;
    margin-left: 50px;
}

.lowblock2-1 {
    float: left;
    width: 25%;
    margin-top: 30px;
    background-image: url("../images/Shield.gif");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    padding-left: 40px;
}

.lowblock3 {
    float: left;
    width: 25%;
    margin-right: 50px;
    margin-top: 30px;
    background-image: url("../images/extinguisher.gif");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    padding-left: 40px;

}

.headinfimg img {
    float: right;
    height: 180px;
    margin: 30px 50px 0px 0px;

}

.headinf {
    margin-top: 25px;
}

.headinf:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.headinf1 {
    margin-left: 55px;
    width: 66%;
    float: left;
}

.headinf1 h2 {
    color: #3b4041;
    text-transform: uppercase;

}

.headinf1 h3 {
    color: #e84c3d;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 0 5px 0;
    margin: 7px 0 7px 0;

}

.butmore img {
    margin-top: 15px;
    height: 40px;
    float: none;
}

.addinf1 {
    width: 40%;
    float: left;
    margin-left: 55px;
}

.addinf2 {
    float: left;
    margin-left: 50px;
    width: 40%;
}

.addinf12 {
    float: left;
    width: 75%;
}

.addinf12 h4 {
    color: #202628;
}

.submit {
    width: 86%;
    background-color: #e84c3d;
    border-radius: 10px;
    color: white;
    margin: 20px 50px 0 50px;
    height: 130px;

}

.quote {
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 22%;
    padding-left: 71px;
    width: 330px;
    float: left;
    margin: 35px 15px 0px 25px;
    padding-bottom: 26px;
    color: white;
}

.quote p {
    color: white;
    font-style: italic;
}

.quote q {
    font-style: normal;
}

.submit h2 {
    text-transform: uppercase;
    padding-bottom: 12px;
}

.submitbut img {
    float: right;
    height: 30px;
    margin-right: 20px;
    margin-top: 8px

}

.submitbut {
    color: white;
    padding-top: 35px;

}

.submitbut input[type=email] {
    border-radius: 50px;
    border: none;
    color: #94999a;
    font-style: italic;
    width: 255px;
    padding-top: 1px;
    padding-left: 19px;
    margin-top: 8px;
    line-height: 28px;
}

.comment {
    margin-top: 40px;
}

.comment:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.comment h2 {
    text-transform: uppercase;
    color: #202628;
}

.comleft {
    float: left;
    width: 27%;
    margin-left: 50px;
    line-height: 20px;
}

.comleft a {
    display: block;
}

.comright {
    float: right;
}

.infcom {
    float: left;
    width: 25%;
    margin: 0px 0px 0px 15px;
    line-height: 17px;
}

.infcom h2 {
    margin-bottom: 15px;
}

.comimg1 {
    border-top: 1px solid #94999a;
    border-bottom: 1px solid #94999a;
    margin: 10px 0px 10px 0px;
    padding: 5px 0 5px 10px;
}

.comimg2 {
    border-bottom: 1px solid #94999a;
    margin: 10px 0px 10px 0px;
    padding: 5px 0 5px 10px;
}

.comimg3 {
    border-bottom: 1px solid #94999a;
    margin: 10px 0px 10px 0px;
    padding: 5px 0 5px 10px;
}

.comleft img {
    float: left;
}

.comleft p {
    padding-left: 80px;

}

.comleft span {
    color: #e84c3d;
}

.addimg {
    border-top: 1px solid #94999a;
    border-bottom: 1px solid #94999a;
    padding: 5px 0px 5px 15px;

}

.phoneimg {
    border-bottom: 1px solid #94999a;
    padding: 5px 0 5px 15px;

}

.mailimg {
    border-bottom: 1px solid #94999a;
    padding: 5px 0 5px 15px;

}

.greycom {
    background-color: #e7e7e7;
    margin: 12px 0px 0 20px;
    border-radius: 5px;
    width: 106%
}

.yourcom h2 {
    padding: 1px 0 0px 23px;
}

.yourcom {
    float: left;
    width: 28%;
    margin-right: 40px;
}

.greycom p {
    padding: 15px 0px 35px 19px;
    line-height: 22px;
}

.greycom input {
    border-radius: 10px;
    border: none;
    color: #94999a;
    font-style: italic;
    padding-top: 1px;
    padding-left: 19px;
    margin-top: 8px;
    line-height: 28px;
    width: 220px;
    margin-left: 25px;
}

.sendbut {
    height: 35px;
    margin: 5px 0px 8px 25px;
}

.greycom .query {
    line-height: 2;
    border-radius: 8px;
    width: 75%;
    margin: 15px 0px 0px 25px;
    border: none;
    color: #94999a;
    font-style: italic;
    padding: 11px 0px 17px 25px;
    font: 13.3333px Arial;
    font-style: italic;
    resize: none;
}

.infcom h3 {
    margin: 16px 0 0px 35px;
}

.infcom p {
    padding: 0 0 13px 35px;
}

.infcom img {
    float: left;
}

footer {
    background-color: #202628;
}

footer:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

footer .socials {
    padding: 15px 0px 0px 730px;

}

.copyright {
    float: left;

}

.navigation {
    padding: 20px 0px 5px 50px;
    float: left;

}

.navigation h3 {
    color: #e7e7e7;
    word-spacing: 10px;
}

.design {
    color: #e84c3d;
}

.copyright p {
    color: #6b7173;
    padding: 0px 0 15px 50px;
}