body {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body p {
    color: #94999a;
    font-size: small;
}

a {
    text-decoration: none;
    color: #e84c3d;
}

header {
    background-color: black;
    border-bottom: 1px solid #e84c3d;
    color: whitesmoke;

    height: 50px;
}

header p {
    margin-top: 0;
    padding-left: 80px;
    padding-top: 15px;
    float: left;
    color: whitesmoke;

}

nav .nav {
    border-bottom: 5px solid coral;
}

nav ul {
    font-family: Helvetica, Arial, sans-serif;
    color: whitesmoke;
    list-style-type: none;
    text-align: right;
    margin-right: 12%;

}

ul li {
    display: inline-block;
    margin-right: 1%;
    height: 50px;
    width: 65px;
    line-height: 50px;
    text-align: center;

}

nav a {
    text-decoration: none;
    color: whitesmoke;
}

nav li:hover {
    background: #e84c3d;

}

.block {
    background-image: url("../images/bg.jpg");
    margin-top: 0;
    background-size: contain;
    height: 280px;
    color: whitesmoke;

}

.redcircle {
    color: whitesmoke;
    background-image: url("../images/redcicle.gif");
    background-size: 35px 35px;
    background-position: 9% 82%;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-left: 80px;
    text-transform: uppercase;

}

.redcircle hr {
    margin: 0px 0px 5px 3px;
    border: none;
    height: 1px;

}

.block p {
    padding-left: 80px;
    font-size: small;
    color: #e84c3d;
}

.lowblock {
    background-color: #e7e7e7;
    height: 150px;
}

.lowblock h2 {
    text-transform: uppercase;
    color: #3b4041;
}

.lowblock p {
    font-size: small;
    margin-top: 10px;
}

.lowblock1 {
    float: left;
    width: 200px;
    margin-left: 40px;
    margin-top: 30px;
    background-image: url("../images/rocket.gif");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: 4% 0%;
    padding-left: 50px;

}

.lowblock2 {
    float: right;

}

.lowblock2-1 {
    float: left;
    width: 200px;
    margin-top: 30px;
    background-image: url("../images/Shield.gif");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    margin-right: 55px;
    padding-left: 40px;
}

.lowblock3 {
    float: right;
    width: 200px;
    margin-right: 80px;
    margin-top: 30px;
    background-image: url("../images/extinguisher.gif");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    padding-left: 40px;
}

.headinfimg img {
    float: right;
    height: 180px;
    width: 180px;

}

.headinf {
    float: left;
    margin-top: 25px;
}

.headinf1 {
    margin-left: 55px;
    width: 905px;
    float: left;
}

.headinf1 h2 {
    color: #3b4041;
    text-transform: uppercase;
    width: 550px;
    float: left;
}

.headinf1 h3 {
    color: #e84c3d;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 5px 0 5px 0;
    margin: 7px 0 7px 0;
    width: 600px;
    float: left;
}

.butmore img {
    margin-top: 15px;

}

.butmore1 img {
    margin-top: 28px;
}

.headinfimg img {
    margin: -28px 74px 0px 0px;

}

.addinf1 {
    width: 250px;
    float: left;
    margin-left: 55px;
}

.addinf2 {
    float: right;
    margin-left: 50px;
    width: 300px;
}

.addinf12 {
    float: left;
}

.addinf12 h4 {
    color: #202628;
}

.submit {
    width: 833px;
    left: 50px;
    position: absolute;
    top: 810px;
    background-color: #e84c3d;
    border-radius: 10px;
    color: white;

}

.quote {
    background-image: url("../images/profile.gif");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-y: 22%;
    padding-left: 71px;
    width: 330px;
    float: left;
    margin: 35px 15px 0px 25px;
    padding-bottom: 26px;
    color: white;
}

.quote p {
    color: white;
    font-style: italic;
}

.quote q {
    font-style: normal;
}

.submit h2 {
    text-transform: uppercase;
    padding-bottom: 12px;
}

.submitbut img {
    float: right;

    height: 30px;
    margin-right: 20px;
    margin-top: 8px

}

.submitbut {
    color: white;
    padding-top: 35px;

}

.submitbut input[type=email] {
    border-radius: 50px;
    border: none;
    color: #94999a;
    font-style: italic;
    width: 255px;
    padding-top: 1px;
    padding-left: 19px;
    margin-top: 8px;
    line-height: 28px;
}

.comment {
    margin-top: 495px;
}

.comment h2 {
    text-transform: uppercase;
    color: #202628;
}

.comleft {
    float: left;
    width: 270px;
    margin-left: 50px;
    line-height: 20px;
}

.comright {
    float: right;
}

.infcom {
    float: right;
    width: 210px;
    margin-right: 95px;
}

.comimg1 {
    background-image: url("../images/girl.gif");
    background-repeat: no-repeat;
    border-top: 1px solid #94999a;
    border-bottom: 1px solid #94999a;
    margin: 10px 0px 10px 0px;
    padding: 5px 0 5px 80px;
    background-position-y: 45%;
}

.comimg2 {
    background-image: url("../images/bed.gif");
    background-repeat: no-repeat;
    border-bottom: 1px solid #94999a;
    margin: 10px 0px 10px 0px;
    padding: 5px 0 5px 80px;
    background-position-y: 45%;
}

.comimg3 {
    background-image: url("../images/litcrow.gif");
    background-repeat: no-repeat;
    border-bottom: 1px solid #94999a;

    margin: 10px 0px 10px 0px;
    padding: 5px 0 5px 80px;
    background-position-y: 45%;
}

.comleft span {
    color: #e84c3d;
}

.addimg {
    background-image: url("../images/house.gif");
    background-repeat: no-repeat;
}

.phoneimg {
    background-image: url("../images/tel.gif");
    background-repeat: no-repeat;
}

.mailimg {
    background-image: url("../images/envel.gif");
    background-repeat: no-repeat;
}

.greycom {
    background-color: #e7e7e7;
    margin: 14px 0px 0 0px;
    border-radius: 5px;
}

.yourcom {
    float: left;
    width: 270px;
    margin-right: 40px;
}

.greycom p {
    padding: 15px 0px 35px 19px;
    line-height: 22px;
}

.greycom input {
    border-radius: 50px;
    border: none;
    color: #94999a;
    font-style: italic;
    padding-top: 1px;
    padding-left: 19px;
    margin-top: 8px;
    line-height: 28px;
    width: 220px;
    margin-left: 15px;
}

.sendbut {
    height: 51px;
    background-image: url("../images/send.gif");
    background-repeat: no-repeat;
    background-position: 16px 10px;
    background-size: 83px;
}

.greycom .query {
    line-height: 5;
    border-radius: 8px;
    width: 220px;
    margin-left: 15px;
}

.addimg {
    border-top: 1px solid #94999a;
    border-bottom: 1px solid #94999a;
}

.phoneimg {
    border-top: 1px solid #94999a;
    border-bottom: 1px solid #94999a;
}

.mailimg {
    border-top: 1px solid #94999a;
    border-bottom: 1px solid #94999a;

}
